{% extends "index.html" %} {% block content %}
<!-- Formulario -->
<!-- Tabla -->
<div class="container mt-4">
  <h2>Tabla de Datos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Alias</th>
        <th>Correo</th>
        <th>Correo Válido</th>
      </tr>
    </thead>
    <tbody>
      {% for persona in personas %}
      <tr>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.alias }}</td>
        <td>{{ persona.correo }}</td>
        <td>{{ persona.correoValido }}</td>
        <!--Agregar un boton para que pueda dirigir a ampliar el  -->
      </tr>
      {% endfor %}
      <!-- Puedes agregar más filas según sea necesario o llenar dinámicamente usando Django -->
    </tbody>
  </table>
</div>

{% endblock content %}
