{% extends "index.html" %} {% block content %}

<div class="container mt-4">
  <h2>Tabla de Datos</h2>

  <!-- Formulario de búsqueda -->
  <div class="mb-3">
    <form action="" method="get">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por alias..."
          name="inputSearch"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            {% if query %} Resetear busqueda {% else %} Buscar {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabla -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Alias</th>
        <th>Correo</th>
        <th>Correo Válido</th>
      </tr>
    </thead>
    <tbody>
      {% for persona in personas %}
      <tr>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.alias }}</td>
        <td>{{ persona.correo }}</td>
        <td>{{ persona.correoValido }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
