{% extends "index.html" %} {% block content %}
<!-- Formulario -->
<div class="container mt-4">
  <h2>Carga de Archivo XML</h2>

  <form
    id="uploadForm"
    enctype="multipart/form-data"
    action="/upload/"
    method="POST"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="xmlFile">Selecciona un archivo XML:</label>
      <input
        type="file"
        class="form-control-file"
        id="xmlFile"
        name="xmlFile"
        accept=".xml"
        onchange="loadFile(event)"
      />
    </div>

    <div class="form-group mt-4">
      <label for="xmlContent">Contenido del archivo XML:</label>
      <textarea
        class="form-control"
        id="xmlContent"
        name="xmlContent"
        rows="10"
        disabled
      ></textarea>
    </div>

    <button type="submit" class="btn btn-secondary">Enviar</button>
  </form>
</div>

<script>
  function loadFile(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById("xmlContent").textContent = e.target.result;
      };
      reader.readAsText(file);
    }
  }
</script>

{% endblock content %}
